.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('assets/images/bg-profile.jpeg'); /* Add your image path here */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.text {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
  animation: slideDown 1s ease-in-out;
  color: white
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}